<section class="container">
  <nz-card (click)="showmodal()">
    <ng-template #body>
      <i class="linksystem-github" aria-hidden="true"></i>
      <span>GITHUB</span>
    </ng-template>
  </nz-card>
  <nz-modal class="modal" [nzVisible]="isVisible" [nzTitle]="'GITHUB账号'" [nzWidth]="450" [nzContent]="modalContent" (nzOnCancel)="showmodal()">
    <ng-template #modalContent>
      <form>
        <div class="item input-item">
          <span>Profile地址</span>
          <input type="email" [(ngModel)]="url" name="url" (ngModelChange)="transfer($event)" required />
        </div>
      </form>
      <div *ngIf="github.name" class="user-info">
        <div class="info">
          <img src="{{github.avatar_url}}" alt="">
          <div>
            <span>{{github.name}}</span>
            <span>
              <i class="anticon anticon-dot-chart"></i>
              {{github.public_repos}}
            </span>
            <span>{{github.bio}}</span>
          </div>
        </div>
        <div style="font-size: 1.5em;" (click)="backflow()">
          <i class="anticon anticon-eye"></i>
        </div>
      </div>
    </ng-template>
  </nz-modal>
</section>
