@import '../../../styles/function.scss';

.project {
  margin-top: 0.5em;

  .title {
    @include container;

    text-align: center;
    height: 50px;
    line-height: 50px;
  }

  .project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

:host ::ng-deep .ant-card {
  margin-bottom: 0.5em;
}
