<div nz-row [nzGutter]="10">
  <div nz-col [nzSpan]="18">
    <div class="user-detail">
      <div style='background-image: url(http://img.hb.aicdn.com/b54eaea559df3c79543038a0eb506495c1635d0b1fade0-E4viRX);'></div>
      <fieldset>
        <legend>
          <app-portrait [image]="user.portrait" [domain]="seven.domain" [zone]="seven.zone" [token]="seven.token" (portrait)="portrait($event)"></app-portrait>
          <!-- <img src="https://pic4.zhimg.com/2178611728bab8ec024569e1ba2f81e9_im.jpg" alt="" /> -->
        </legend>
        <ul>
          <li>
            <i class="linksystem-github" aria-hidden="true"></i>
          </li>
          <li>
            <i class="linksystem-wechat" aria-hidden="true"></i>
          </li>
          <li>
            <i class="linksystem-weibo" aria-hidden="true"></i>
          </li>
          <li>
            <app-user-modify [user]="user" (update)="update($event)"></app-user-modify>
          </li>
        </ul>
        <div class="fieldset-info">
          <h3>
            <i class="linksystem-user" aria-hidden="true"></i>
            {{user.username}}
          </h3>
          <p>
            <i class="linksystem-briefcase" aria-hidden="true"></i>
            {{user.position}}
          </p>
          <p>
            <i class="linksystem-tags"></i>
            {{user.description}}
          </p>
        </div>
      </fieldset>
    </div>
    <app-favourite></app-favourite>
  </div>
  <div nz-col [nzSpan]="6">
    <ul class="function">
      <li class="{{user.fingerprint ? 'active' : 'disable'}}">
        <nz-card (click)="fingerprint()">
          <ng-template #body>
            <i class="anticon anticon-api" aria-hidden="true"></i>
            <span>指纹</span>
          </ng-template>
        </nz-card>
      </li>
      <li>
        <a routerLink="/control/article-writer/article-design">
          <nz-card>
            <ng-template #body>
              <i class="linksystem-article" aria-hidden="true"></i>
              <span>文章</span>
            </ng-template>
          </nz-card>
        </a>
      </li>
      <li>
        <a routerLink="/control/column-editor/column-design">
          <nz-card>
            <ng-template #body>
              <i class="linksystem-article" aria-hidden="true"></i>
              <span>专栏</span>
            </ng-template>
          </nz-card>
        </a>
      </li>
      <li>
        <a routerLink="/control/note-writer/note-design">
          <nz-card>
            <ng-template #body>
              <i class="linksystem-note" aria-hidden="true"></i>
              <span>笔记</span>
            </ng-template>
          </nz-card>
        </a>
      </li>
      <li>
        <a routerLink="/control/type/notice">
          <nz-card>
            <ng-template #body>
              <i class="linksystem-notice" aria-hidden="true"></i>
              <span>公告</span>
            </ng-template>
          </nz-card>
        </a>
      </li>
      <li>
        <a routerLink="/control/type/footnote">
          <nz-card>
            <ng-template #body>
              <i class="linksystem-footnote" aria-hidden="true"></i>
              <span>注脚</span>
            </ng-template>
          </nz-card>
        </a>
      </li>
    </ul>
    <ul class="grant">
      <li>
        <app-github (transmit)="github($event)"></app-github>
      </li>
      <li>
        <nz-card>
          <ng-template #body>
            <i class="linksystem-wechat" aria-hidden="true"></i>
            <span>WECHAT</span>
          </ng-template>
        </nz-card>
      </li>
    </ul>
    <ul class="function">
      <li>
        <nz-card (click)="logout()">
          <ng-template #body>
            <i class="anticon anticon-logout"></i>
            <span>注销</span>
          </ng-template>
        </nz-card>
      </li>
    </ul>
  </div>
</div>
