<div nz-row [nzGutter]="10">
  <div nz-col [nzSpan]="18">
    <div class="user-detail">
      <div style='background-image: url(http://img.hb.aicdn.com/b54eaea559df3c79543038a0eb506495c1635d0b1fade0-E4viRX);'></div>
      <fieldset>
        <legend>
          <img src="https://pic4.zhimg.com/2178611728bab8ec024569e1ba2f81e9_im.jpg" alt="" />
        </legend>
        <ul>
          <li>
            <i class="linksystem-github" aria-hidden="true"></i>
          </li>
          <li>
            <i class="linksystem-wechat" aria-hidden="true"></i>
          </li>
          <li>
            <i class="linksystem-weibo" aria-hidden="true"></i>
          </li>
          <li>
            <i class="linksystem-notes" aria-hidden="true"></i>
          </li>
        </ul>
        <div class="fieldset-info">
          <h3>
            <i class="linksystem-user" aria-hidden="true"></i>
            {{user.name}}
          </h3>
          <p>
            <i class="linksystem-briefcase" aria-hidden="true"></i>
          </p>
          <p>
            <i class="linksystem-tags"></i>
            {{user.declaration}}
          </p>
        </div>
      </fieldset>
    </div>
    <app-favourite></app-favourite>
  </div>
  <div nz-col [nzSpan]="6">
    <ul class="function">
      <li>
        <a routerLink="/control/writing/article">文章</a>
      </li>
      <li>
        <a routerLink="/control/writing/note">笔记</a>
      </li>
      <li>
        <a routerLink="/control/writing/notice">公告</a>
      </li>
      <li>
        <a routerLink="/control/writing/footnote">注脚</a>
      </li>
    </ul>
    <ul class="grant">
      <li>Github授权</li>
    </ul>
  </div>
</div>
