<div class="user-detail">
  <div style='background-image: url(http://img.hb.aicdn.com/b54eaea559df3c79543038a0eb506495c1635d0b1fade0-E4viRX);'></div>
  <fieldset>
    <legend>
      <img src="https://pic4.zhimg.com/2178611728bab8ec024569e1ba2f81e9_im.jpg" alt="" />
    </legend>
    <ul>
      <li>
        <i class="linksystem-github" aria-hidden="true"></i>
      </li>
      <li>
        <i class="linksystem-wechat" aria-hidden="true"></i>
      </li>
      <li>
        <i class="linksystem-weibo" aria-hidden="true"></i>
      </li>
    </ul>
    <div class="fieldset-info">
      <div>
        <h3>LinkSystem</h3>
        <p class="t-line">
          <i class="fa fa-briefcase" aria-hidden="true"></i>
        </p>
        <p class="t-line">
          <i class="fa fa-tags" aria-hidden="true"></i> 欢迎有激情的你加入大数据、人工智能产品的开发（前端、Android、iOS P5～P7）
        </p>
      </div>
    </div>
  </fieldset>
</div>
