<section class="container">
  <div class="column">
    <h2>{{data.title}}</h2>
    <div class="markdown" [innerHTML]="(data.description | decode | markdown)"></div>
    <button class="icon-button" (click)="build()">
      <i *ngIf="status" class="anticon anticon-cloud-upload-o" style="font-size: 16px;"></i>
      <i *ngIf="!status" class="anticon anticon-hourglass" style="font-size: 16px;"></i>
    </button>
  </div>

  <nz-input class="title" [(ngModel)]="data.title" [nzType]="'text'" [nzPlaceHolder]="'请输入专栏的标题'">
    <ng-template #prefix>
      <i class="anticon anticon-api" aria-hidden="true"></i>
    </ng-template>
  </nz-input>

  <div class="editor">
    <textarea name="mark" [ngModel]="html" (ngModelChange)="transfer($event)"></textarea>
  </div>

  <nz-card nzNoHovering>
    <ng-template #title>文章列表</ng-template>
    <ng-template #extra>
    </ng-template>
    <ng-template #body>
      <div *ngIf="!list.length" class="content loading">
        <app-loading></app-loading>
      </div>
      <app-list [list]="list"></app-list>
    </ng-template>
  </nz-card>
</section>
